{% extends "2020/templates/solution.html.jinja" %}
{% block number %}4{% endblock %}
{% block name %}Autorádio{% endblock %}
{% block content %}
  {{ super() }}
  <p>Nie je podstatné, kadiaľ presne cesty vedú, iba ich začiatok a koniec. Sú to miesta, ktoré sa spomínajú v známych slovenských alebo českých pesničkách. Pre jednotlivé odseky miesta aj s príslušnými pesničkami:</p>
  <ol>
    <li>Břevnovský klášter &ndash; Arles (Jaromír Nohavica: Dál sa háže kamením)</li>
    <li>Tatry &ndash; Dunaj (Elán: Od Tatier k Dunaju)</li>
    <li>Praha &ndash; Vizovice (Ivan Mládek: Jožin z bažin)</li>
    <li>Bratislava, Hlavná stanica &ndash; Modra (Elán: Vymyslená)</li>
    <li>Slezské muzeum v Opavě &ndash; Kateřinky (Jaromír Nohavica: Muzeum)</li>
  </ol>
  <p>Potom zoberieme prvé písmená názvov pesničiek. V časti s pesničkou Vymyslená sa spomína, že namiesto pesničky sa prehráva mix od interpreta, čiže zoberieme namiesto pesničky názov kapely. Z ich prvých písmen dostaneme heslo DOJEM.</p>
{% endblock %}
