{% extends "/2020/templates/base.html.jinja" %}
{% block title %}Úvod{% endblock %}
{% block content %}
  <p>Vitajte na vianočnej šifrovačke Julegåden! Hra pozostáva z 10 šifier, ktoré máte postupne vyriešiť. Šifra má nejaké zadanie (to môže byť napríklad text alebo obrázok), a v ňom je nejakým neznámym spôsobom ukrytá tajnička. Vy musíte prísť na to, akým spôsobom šifra funguje, a zistiť tajničku.</p>
  <p>Kým začnete, môžete si ešte rýchlo pozrieť <a href="howto.html">návod</a> na riešenie, a potom sa pustiť do hry! Dúfam, že sa vám budú šifry páčiť.</p>
{% endblock %}
