{% extends "templates/base.html.jinja" %}
{% block title %}Šifrovačka{% endblock %}
{% block nav %}
  <h3>Archív</h3>
  <ul>
    <a href="/xmas/2020/home.html"><li>2020</li></a>
  </ul>
{% endblock %}
{% block content %}
  <h2>Novinky</h2>
  <p>Rok 2020 sa už (pred nejakou dobou) skončil, takže šifry z neho sa presunuli do archívu. Zatiaľ sa môžete tešiť na ďalšiu sadu šifier na budúce Vianoce.</p>
  <h2>Archív</h2>
  <p><ul>
    <li><a href="/xmas/2020/home.html">2020</a></li>
  </ul></p>
{% endblock %}
