{% extends "2020/templates/solution.html.jinja" %}
{% block number %}1{% endblock %}
{% block name %}Štartová{% endblock %}
{% block content %}
  {{ super() }}
  <p>V texte sa nachádza niekoľko slovných spojení, kde slová za sebou začínajú rovnakým písmenom, konkrétne “ste sa”, “veselé Vianoce”, “ešte energiu”, a “tak teda”. Z týchto prvých písmen dostaneme heslo SVET.</p>
  <p>Mimochodom, uvedenú vlastnosť má aj názov, “Štartová šifra”.</p>
{% endblock %}
