{% extends "/2020/templates/base.html.jinja" %}
{% block title %}Záver{% endblock %}
{% block content %}
  <p>Gratulujem vám, vyriešili ste všetky šifry! Dúfam, že sa vám to páčilo. Ak máte nejaký feedback, kľudne mi <a href="mailto:mstepanek0301@gmail.com">napíšte</a>.</p>
  <h2>Poďakovanie</h2>
  <p>Ďakujem autorom všetkých obrázkov, ktoré boli použité v zadaniach, a bez ktorých by šifry nemohli existovať.</p>
  <p>Pôvodné obrázky v Chemickej šifre nájdete tu: <a href="https://commons.wikimedia.org/wiki/File:Enigma-plugboard.jpg">Kr</a>, <a href="https://www.flickr.com/photos/87743206@N04/8053614949">Al</a>, <a href="https://commons.wikimedia.org/wiki/File:Yellow_lemons.jpg">O</a>, <a href="https://en.wikipedia.org/wiki/File:John_Bauer-Freja.jpg">V</a>, <a href="https://www.pickpik.com/glass-soda-coca-cola-coke-drink-lemon-50389">Na</a>, <a href="https://commons.wikimedia.org/wiki/File:Striped_Skunk.jpg">Br</a>.</p>
  <p>Ikonky z Jazykovej a Obrázkovej šifry vytvorili <a href="https://www.flaticon.com/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a>, <a href="https://smashicons.com/" title="Smashicons">Smashicons</a>, <a href="http://www.freepik.com/" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/free-icon/baby-boy_2911560" title="iconixar">iconixar</a>, <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a>, <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a>, a <a href="https://www.flaticon.com/free-icon/trekking_776574" title="monkik">monkik</a> z <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.</p>
{% endblock %}
