{% extends "2020/templates/solution.html.jinja" %}
{% block number %}9{% endblock %}
{% block name %}Obrázková{% endblock %}
{% block content %}
  {{ super() }}
  <p>Šifra je vlastne obyčajný text po čínsky. Asi viete, že čínske znaky pôvodne vznikli z obrázkov vecí, ktoré reprezentujú. Obrázky sa ale potom zjednodušili, takže v súčasnej čínštine sa na ich reálne ekvivalenty podobajú len veľmi málo. V tejto šifre sú ale znaky (alebo ich časti, keďže jeden znak sa väčšinou skladá z niekoľkých menšich znakov) nahradené skutočnými obrázkami.</p>
  <p>Aby ste z obrázkov vedeli dostať súčasné čínske znaky, stačí niekedy použiť Google Translate, a daný znak uvidíte. Niekedy je to však trochu zložitejšie, lebo znak vyzerá inak, keď je použitý ako súčasť iného znaku. Tu nám ale môžu pomôcť takzvané <a href="https://en.wikipedia.org/wiki/Radical_(Chinese_characters)">radikály</a>. To sú také vybrané čínske znaky, že každý iný znak v sebe obsahuje jeden radikál v nejakej podobe. Používajú sa napríklad na usporiadanie znakov v slovníkoch, takže znaky s rovnakým radikálom sú pri sebe. Ku každému znaku sa potom dá pomerne jednoducho nájsť radikál, ktorý je v ňom, a potom aj pôvodný význam radikálu. Hľadať ich môžete napríklad <a href="https://www.yellowbridge.com/chinese/radicals.php">tu</a>. Na základe toho teda vieme zo znakov dostať obrázky, a aj naopak.</p>
  <p>Pôvodná veta teda znie: <span lang="zh">您能说出密码吗？ 是的，这是花的月份。</span>Do slovenčiny by sa to dalo preložiť asi takto: “Môžete mi povedať heslo? Áno, je to mesiac kvetov.”</p>
  <p>Zostáva už len posledný malý krok: zistiť, čo je mesiac kvetov. Možno vám to napadne hneď, možno to nie je také samozrejmé, ale je to “květen”, teda po slovensky MÁJ.</p>
  <p>Ak sa pýtate, prečo “mesiac kvetov”, a nie “máj”, tak hlavne preto, že v čínštine mesiace vlastne nemajú názvy. Volajú ich len číslami, takže január je doslova “mesiac 1”, február “mesiac 2”, a tak ďalej. Toto v kombinácii s obrázkami nie je veľmi pekné, pretože čísla aj slovo “mesiac” sa dajú vyjadriť len ich samotným obrázkom (alebo v súčasnej čínštine rovno arabskými čislicami), a heslo by teda nebolo veľmi zaujímavo zašifrované.</p>
  <p>České názvy sú teda na tento účel veľmi vhodné, lebo ich názvy pekne reprezentujú niečo, čo s daným mesiacom súvisí. A mimochodom, niektoré slovenské (teda pôvodne latinské) názvy mesiacov na tom nie sú oveľa lepšie ako tie čínske: september je od “septem”, teda 7, október od “octo”, čiže 8, a podobne aj november a december. Ak vás to zaujíma, možete skúsiť zistiť, prečo sú tieto čísla oproti tým našim posunuté o 2 dopredu.</p>
{% endblock %}
