{% extends "/2020/templates/base.html.jinja" %}
{% block title %}Ako riešiť{% endblock %}
{% block content %}
  <h2>Ako prebieha hra?</h2>
  <p>Šifry musíte riešiť postupne, teda až keď vyriešite jednu, dostanete sa k ďalšej. Navyše si po vyriešení šifry môžete prečítať jej vzorové riešenie. Nie je žiadny limit v podobe času alebo počtu pokusov na jednu šifru. Netreba sa nijako prihlasovať a výsledky sa nikde nezverejňujú.</p>
  <h2>Čo má byť heslo?</h2>
  <p>Heslo musí byť vždy JEDNO SLOVENSKÉ SLOVO, presnejšie podstatné meno v základnom tvare. Zo šifry vždy vyplýva jednoznačne, takže keď ho zistíte, budete si istí, že to musí byť práve tak, lebo to tak pekne vychádza. Nemá zmysel skúšať náhodné slová, okrem prípadu, keď ste výber zúžili len na zopár možností, ale nie ste si istí, ktorá z možností je správna.</p>
  <h2>Pre koho je hra určená?</h2>
  <p>Hrať môže úplne hocikto, ale výrazne sa odporúča riešiť v tíme, či už s rodinou alebo s kamarátmi.</p>
  <h2>Čo treba vedieť na vyriešenie šifier?</h2>
  <p>Netreba mať žiadne špeciálne znalosti. Všetky informácie, ktoré by ste prípadne k vyriešeniu šifry potrebovali, si buď viete vyhľadať, alebo ide o veci, ktoré sú pomerne všeobecne známe.</p>
  <h2>Čo keď neviem, ako ďalej?</h2>
  <p>So šifrou nikdy netreba robiť náhodné a zjavne nezmyselné kroky. Všetko nejakým spôsobom vyplýva zo zadania alebo z názvu. Názov síce nie je súčasť šifry, ale často môže slúžiť ako dôležitá indícia.</p>
  <p>Na vyriešenie šifry treba väčšinou mať dobrý nápad, a môže sa stať, že vám nič nenapadá. Preto treba riešiť v tímoch, a prípadne sa spýtať aj ďalších známych, ktorí vám zrovna ten správny nápad dajú. Nevadí, ak sa vám nejakú šifru dlhšie nedarí vyriešiť, kľudne si dajte pauzu, medzičasom vám možno napadne niečo nové, a nakoniec šifru vyriešite.</p>
  <p>Ak už naozaj netušíte, ako ďalej, a ste zúfalí, môžete si pozrieť nápovedu. Tá vám síce neprezradí celý postup, ale povie vám nejakú informáciu, ktorá vám pri riešení môže pomôcť.</p>
  <h2>Môžem hacknúť stránku?</h2>
  <p>Nie je to také jednoduché ;) Zdrojový kód stránok, ktoré máte k dispozícii, vám asi nepomôže o nič viac ako samotné zadanie. Zdrojový kód celej hry (teda vrátane riešení) si môžete pozrieť na Githube, ale pozerať si riešenia dopredu by vám akurát pokazilo zážitok z hry, takže to nerobte.</p>
{% endblock %}
