{% extends "2020/templates/puzzle.html.jinja" %}
{% block number %}5{% endblock %}
{% block name %}Chemická{% endblock %}
{% block content %}
  <figure>
    <img src="1.jpg">
  </figure>
  <figure>
    <img src="2.jpg">
  </figure>
  <figure>
    <img src="3.jpg">
  </figure>
  <figure>
    <img src="4.jpg">
  </figure>
  <figure>
    <img src="5.jpg">
  </figure>
  <figure>
    <img src="4.jpg">
  </figure>
  <figure>
    <img src="6.jpg">
  </figure>
  {{ super() }}
{% endblock %}
{% block hint -%}
  Každý obrázok reprezentuje nejaký chemický prvok veľmi jednoduchým spôsobom. Pri poslednom obrázku sú vlastne dve možnosti, ale len z jednej vám vyjde zmysluplné riešenie.
{%- endblock %}
{% block password -%}
  3fa7372ecca2bbc9f291107d9520dfd0ca8fb8c06df085f2f189c596b5f20979
{%- endblock %}
