{% extends "2020/templates/solution.html.jinja" %}
{% block number %}8{% endblock %}
{% block name %}Fonetická{% endblock %}
{% block content %}
  {{ super() }}
  <p>Text je otočený naopak, ale nielen vizuálne, ale aj zvukovo. Teda je to fonetický zápis anglického textu prehratého odzadu. Hovorená reč (a angličtina ešte viac ako slovenčina) sa až prekvapivo zmení pri prehratí odzadu, takže môže byť veľmi ťažké tipnúť si pôvodný text z tohto.</p>
  <p>Asi najviac sa oplatí nahlas prečítať zadanie, nahrať sa pritom, a nahrávku prehrať odzadu (napríklad pomocou <a href="https://audiotrimmer.com/online-mp3-reverser/">tohto nástroja</a>). Môže vám vyjsť niečo takéto:</p>
  <audio controls src="audio-solution.mp3"></audio>
  <p>Niektoré slová sú síce ťažko zrozumiteľné, ale celkový význam už sa relatívne dá domyslieť. Je to hádanka, ktorá znie: <blockquote>
    A man is looking at a picture of a man on the wall and states, “Brothers and sisters I have none, but this man’s father is my father’s son.” Who is the man in the picture in relation to the man looking at the picture?
  </blockquote></p>
  <p>A odpoveď je samozrejme SYN.</p>
  <p>Ak by vás to zaujímalo, pôvodná obrátená hádanka znela takto:</p>
  <audio controls src="audio-original.mp3"></audio>
  <p>Hádanka aj s celým znením bola prevzatá <a href="https://riddlesbrainteasers.com/man-picture/">odtiaľto</a>.</p>
{% endblock %}
