.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 1em;
}

.no-break {
  display: inline-flex;
}

.box {
  display: inline-block;
  width: 72px;
  height: 72px;
  font-size: 60px;
  line-height: 72px;
  margin-right: 14px;
  margin-bottom: 10px;
}
