{% extends "2020/templates/solution.html.jinja" %}
{% block number %}2{% endblock %}
{% block name %}Poznáš Slovensko?{% endblock %}
{% block content %}
  {{ super() }}
  <p>Do každého riadku treba dopísať mesto, ktoré má v názve farbu toho riadku. Mestá sú teda Červeník, Ružomberok, Zeleneč, Modra, Beluša, a Čierna Voda (bez medzery). Vo farebných políčkach nám vyjde tajnička ROZMER.</p>
{% endblock %}
