{% extends "2020/templates/solution.html.jinja" %}
{% block number %}5{% endblock %}
{% block name %}Chemická{% endblock %}
{% block content %}
  {{ super() }}
  <p>Každý obrázok predstavuje jeden chemický prvok, konkrétne jeho názov, alebo podľa čoho bol prvok pomenovaný. Máme tak prvky:</p>
  <ol>
    <li>Kryptón (stroj Enigma, ktorý sa používal na šifrovanie a posielanie tajných správ, a “kryptos” je po grécky tajný)</li>
    <li>Hliník (hlina)</li>
    <li>Kyslík (kyslý citrón)</li>
    <li>Vanád (bohyňa <a href="https://en.wikipedia.org/wiki/Freyja#Etymology">Vanadís</a> zo severskej mytológie)</li>
    <li>Sodík (sýtený nápoj &ndash; sóda)</li>
    <li>Vanád (znova)</li>
    <li>Bróm (skunk, ktorý je známy jeho nepríjemným zápachom, a “bromos” je po grécky smrad) (podobne by to mohlo byť aj osmium, ale z toho nám nevyjde zmysluplná tajnička)</li>
  </ol>
  <p>Keď napíšeme za seba dané značky prvkov, dostaneme KrAlOVNaVBr, teda kráľovná Veľkej Británie. Heslo je teda meno, podľa ktorého je známa, čiže ALŽBETA.</p>
{% endblock %}
