{% extends "2020/templates/base.html.jinja" %}
{% block title %}
  {% block number %}{% endblock %}. {% block name %}{% endblock %}
{% endblock %}
{% block decoration %}{{ self.number() }}{% endblock %}
{% block heading %}{{ self.name() }}{% endblock %}
{% block content %}
  <h2>Riešenie</h2>
{% endblock %}
{% block meta %}
  <meta name="robots" content="noindex">
{% endblock %}
