{% extends "2020/templates/puzzle.html.jinja" %}
{% block number %}3{% endblock %}
{% block name %}Obesenec{% endblock %}
{% block content %}
  <p>Všetci sa radi hráme s kamarátmi. Naša obľúbená hra, ktorú sme kedysi hrávali, bol Obesenec. Asi o tejto hre všetci viete, preto tu nebudem vysvetľovať, ako funguje. Keď nad tým tak spätne premýšľam, nechápem, prečo sme túto hru mali tak extrémne radi, ale hrávali sme ju vtedy počas skoro všetkých prestávok v škole.</p>
  <p>Treba ale povedať, že táto hra nedokázala vydržať zábavná príliš dlho. Neskôr to fungovalo väčšinou tak, že hádané slová a texty boli v buď rôznych obskúrnych jazykoch, alebo to boli nejakí ľudia, ktorých poznal len autor. Tak sa postupne začali hrávať iné hry.</p>
  <p>Napríklad hra Dixit bola naozaj geniálna. Táto hra vznikla vo Francúzsku, ale je pomerne známa aj u nás. K hre patril balíček kariet, a na každej karte bol obrázok. Jeden z hráčov musel popísať jednu z kariet, ktoré mal na ruke. Potom si zvolili aj všetci ostatní jednu zo svojich kariet. Hráči potom mali uhádnuť, ktorá z kariet bola tá rozprávačova.</p>
  <p>Taký jednoduchý princíp, ale pritom taká zaujímavá hra. V tom bol geniálny nielen Dixit, ale aj hra Mao. Táto hra prebiehala na začiatku takmer rovnako ako hra Faraón, ale boli tam určité pravidlá, o ktorých noví hráči nevedeli a mali ich uhádnuť. Pointa bola, že kto vyhral, mohol vždy do hry pridať nové pravidlo.</p>
  <p>Skôr, ako sa u nás hrávalo Mao, tu bola aj iná hra s podobným princípom. Hráči boli rozostavaní do kruhu, a podávali si fľašu s vodou. Hráč si určil pravidlo, a pri každom podaní oznámil hráčom, či sa pri tom toto pravidlo dodržalo. Hráči z toho mali zistiť to pravidlo. Vďaka originálnym pravidlám bola hra v praxi vždy iná a zaujímavá.</p>
  <p>Všetky tieto hry majú naozaj jednoduchý princíp, no to nemusí byť na škodu. Niekedy práveže hry priťažké na naučenie nestoja ani za deravý groš. Navyše sú tieto hry zaujímavé tým, že ich priebeh nie je fixný, vždy je tam priestor na to, že každá nová hra bude iná ako tie predchádzajúce. Preto vám naozaj odporúčam niekedy si ich zahrať.</p>
  {{ super() }}
{% endblock %}
{% block hint -%}
  Z hier spomenutých v texte je podstatný len Obesenec. Ako súvisí s touto šifrou?
{%- endblock %}
{% block password -%}
  8f339250b38807ce7cc26b0d08f97abc5f630cc2d6200f836213651568570d3a
{%- endblock %}
