{% extends "2020/templates/solution.html.jinja" %}
{% block number %}3{% endblock %}
{% block name %}Obesenec{% endblock %}
{% block content %}
  {{ super() }}
  <p>Ak by ste hrali Obesenca s týmto textom, zistili by ste, že v každom odseku je každé písmeno abecedy aspoň raz, vždy okrem jedného písmena, ktoré tam nie je vôbec (diakritika sa neráta, a písmená Q a W nie sú nikde, lebo sa v slovenčine v podstate vôbec nepoužívajú). Chýbajúce písmená nám vytvoria heslo ZMYSEL.</p>
{% endblock %}
